/*
Author: Digamber Shrestha
Date: 2025-10-15
*/

/* Page background */
body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}

/* Headings */
h1 {
  color: #2c3e50;
  font-size: 3em;
}

h2 {
  color: #34495e;
  font-size: 2em;
  margin-top: 30px;
}

/* Paragraphs */
p {
  color: #2c3e50;
  font-size: 1.1em;
}

/* Unordered list */
ul {
  list-style-type: square;
  padding-left: 20px;
}

/* Ordered list */
ol {
  list-style-type: decimal;
  padding-left: 20px;
}

/* Links */
a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}
