/*
Author: Digamber Singh Shrestha
Date: 2025-09-07
*/

/* Element selectors */
h1 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Class selectors */
.box {
  border: 2px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}

.highlight {
  background-color: yellow;
  padding: 10px;
  margin-bottom: 10px;
}

/* ID selector */
#special-message {
  color: green;
  font-weight: bold;
}

/* Group selectors */
h1,
h2,
h3 {
  font-family: Arial, sans-serif;
}

/* Descendant selectors */
section ul li {
  list-style-type: square;
  margin-bottom: 5px;
}

/* Attribute selectors */
a[target="_blank"] {
  color: red;
  text-decoration: underline;
}

img[alt] {
  width: 200px;
  border: 1px solid #000;
}
